<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocketuni">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin.results.AdminResultsActivity"></activity>
        <activity android:name=".admin.organizer.AdminOrganizerActivity" />
        <activity android:name=".admin.messenger.AdminChatActivity" />
        <activity android:name=".admin.profile.AdminProfileActivity" />
        <activity android:name=".admin.timeline.AdminActivity" />
        <activity android:name=".std.organizer.OrganizerActivity" />
        <activity android:name=".std.results.ResultsActivity" />
        <activity android:name=".std.messenger.ChatActivity" />
        <activity android:name=".std.profile.ProfileActivity" />
        <activity android:name=".security.SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".security.SignupActivity" />
        <activity android:name=".std.timeline.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>