<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocketuni">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".results.admin.AdminResultsDisplay"></activity>
        <activity android:name=".results.admin.AdminResultsAdd" />
        <activity android:name=".profile.common.EditProfileActivity" />
        <activity android:name=".messenger.common.MessagesActivity" />
        <activity
            android:name=".organizer.std.ViewTimetableActivity"
            android:parentActivityName=".organizer.std.OrganizerActivity" />
        <activity
            android:name=".organizer.admin.AdminViewTimetableActivity"
            android:parentActivityName=".organizer.admin.AdminTimetableActivity" />
        <activity
            android:name=".organizer.admin.AdminNoticesActivity"
            android:parentActivityName=".organizer.admin.AdminOrganizerActivity" />
        <activity
            android:name=".organizer.admin.AdminDeadlinesActivity"
            android:parentActivityName=".organizer.admin.AdminOrganizerActivity" />
        <activity
            android:name=".organizer.admin.AdminTimetableActivity"
            android:parentActivityName=".organizer.admin.AdminOrganizerActivity" />
        <activity android:name=".results.admin.ListActivity"></activity>
        <activity android:name=".results.admin.AdminResultsActivity" />
        <activity android:name=".organizer.admin.AdminOrganizerActivity" />
        <activity android:name=".messenger.admin.AdminChatActivity" />
        <activity android:name=".profile.admin.AdminProfileActivity" />
        <activity android:name=".timeline.admin.AdminActivity" />
        <activity
            android:name=".timeline.AddPostActivity"
            android:parentActivityName=".timeline.admin.AdminActivity" />
        <activity android:name=".organizer.std.OrganizerActivity" />
        <activity android:name=".results.std.ResultsActivity" />
        <activity android:name=".messenger.std.ChatActivity" />
        <activity android:name=".profile.std.ProfileActivity" />
        <activity android:name=".security.SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".security.SignupActivity" />
        <activity android:name=".timeline.std.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".organizer.std.ReminderBroadcastReceiver" />
    </application>

</manifest>